<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>LoginServlet</servlet-name>
        <servlet-class>LoginServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AltaUsrServlet</servlet-name>
        <servlet-class>AltaUsrServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AltaVideoServlet</servlet-name>
        <servlet-class>AltaVideoServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AltaListaDRServlet</servlet-name>
        <servlet-class>AltaListaDRServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Busqueda</servlet-name>
        <servlet-class>Busqueda</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>LoginServlet</servlet-name>
        <url-pattern>/LoginServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AltaUsrServlet</servlet-name>
        <url-pattern>/AltaUsrServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AltaVideoServlet</servlet-name>
        <url-pattern>/AltaVideoServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AltaListaDRServlet</servlet-name>
        <url-pattern>/AltaListaDRServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Busqueda</servlet-name>
        <url-pattern>/Busqueda</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            60
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>index.html</welcome-file>
    </welcome-file-list>
</web-app>
