@import url(https://fonts.googleapis.com/css?family=Open+Sans);

body{
  background: #f2f2f2;
  font-family: 'Open Sans', sans-serif;
}
.search {
  width: 100%;
  position: relative;
  top: 20px;
  display: flex;
}

.searchTerm {
  width: 100%;
  border: 3px solid #00B4CC;
  border-right: none;
  padding: 5px;
  height: 20px;
  border-radius: 5px 0 0 5px;
  outline: none;
  color: black;
}

.searchTerm:focus{
  color: #00B4CC;
}

.searchButton {
  width: 100px;
  height: 36px;
  border: 1px solid #00B4CC;
  background: #00B4CC;
  text-align: center;
  color: white;
  border-radius: 0 5px 5px 0;
  cursor: pointer;
  font-size: 20px;
}

/*Resize the wrap to see the search bar change!*/
.wrap{
  width: 30%;
  position: absolute;
  top: 20px;
  left: 50%;
  transform: translate(-50%, -50%);
}

ul {
  list-style-type: none;
  position: absolute;
  top: 10em;
  margin: 0;
  border: 2px solid #00B4CC;
  border-radius: 0px 5px 5px 0px;
  color: blue;
  padding: 0;
  width: 200px;
  background-color: #f1f1f1;
}

li a {
  display: block;
  color: #000;
  padding: 8px 16px;
  text-decoration: none;
}

/* Change the link color on hover */
li a:hover {
  background-color: #555;
  color: white;
}

.a1{
	border-bottom: 2px solid #00B4CC;
}

.derecha{
	position: absolute;
	text-align: center;
	cursor: pointer;
        font-size: 20px;
	top: 15px;
	left: 80%;
}

.izquierda{
	position: absolute;
	top: 0px;
	margin-left: 10%;
        width: 200px;
        height: 100px;

}

.linea {
	width: 98%;
	position: absolute;
	top: 90px; 
	border-top: 3px solid #00B4CC;
	color: #9DBFAF;

}

.Iframes{
  margin-top: 10em;
  margin-left: 220px;
}

.subirVidbtn{
    background: skyblue;
    color: black;
    border-radius: 10px 10px 10px 10px;
}

.imgPerfil{
    width: 50px;
    height: 50px;
}